.bankai__manga-list-item {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.bankai__manga-list-item img {
    width: 200px;
    height: 300px;
    border-radius: 1rem;
}

.bankai__manga-list-item h4 {
    font-family: var(--font-family);
    color: #fff;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.bankai__manga-list-item p {
    font-family: var(--font-family);
    color: #fff;
}

.bankai__manga-list-item span {
    font-family: var(--font-family);
    color: var(--color-text);
}

@media screen and (max-width: 810px) {
    .bankai__manga-list-item img {
        width: 150px;
        height: 225px;
    }

    .bankai__manga-list-item h4 {
        max-width: 150px;
    }
}

@media screen and (max-width: 420px) {
    .bankai__manga-list-item img {
        width: 120px;
        height: 175px;
    }

    .bankai__manga-list-item h4 {
        max-width: 110px;
    }

    .bankai__manga-list-item h4,
    .bankai__manga-list-item p,
    .bankai__manga-list-item span {
        font-size: 0.8rem;
    }
}