.bankai__new-arrivals_item {
    /* width: 200px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.bankai__new-arrivals_item img {
    width: 200px;
    height: 300px;
    border-radius: 1rem;
}

.bankai__new-arrivals_item p {
    width: 200px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    margin-top: 1rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.bankai__new-arrivals_item span {
    width: 100px;
    text-align: center;
    font-size: 18px;
    font-family: var(--font-family);
    color: var(--color-text);
}

@media screen and (max-width: 1050px) {

    .bankai__new-arrivals_item img,
    .bankai__new-arrivals_item p {
        width: 150px;
    }

    .bankai__new-arrivals_item img {
        height: 225px;
    }
}

/* 
========================
ANIMATION
========================
*/
.bankai__new-arrivals_item img {
    transition: filter 0.3s ease;
}

.bankai__new-arrivals_item p,
.bankai__new-arrivals_item span {
    transition: transform 0.3s ease;
}

.bankai__new-arrivals_item:hover img {
    filter: brightness(0.25);
}

.bankai__new-arrivals_item:hover p,
.bankai__new-arrivals_item:hover span {
    transform: translateY(-200px);
    color: #fff;
}